section.chess.services
    .outer 
        .inner 
            .chess__container
                .chess__title 
                    h2.h2 Наши услуги
                    p.smalltext Для вашего запоминающегося дня
                ul 
                    li 
                        .image.no_absolute.no_overlay 
                            img(src="./images/services/1.png" alt="Фото")
                        .content.content_left 
                            h2.h3 Обряд бракосочетания никах
                            p.text Для проведения обряда бракосочетания никах мы можем предложить уютные банкетные залы и специальное меню.
                            a(href="#").btn._no-border Подать заявку
                    li 
                        .image.no_absolute.no_overlay  
                            img(src="./images/services/2.png" alt="Фото")
                        .content.content_left 
                            h2.h3 Выездная регистрация
                            p.text Для проведения выездной регистрации мы можем предложить вам залы и организацию фуршета или банкета.
                            a(href="#").btn._no-border Подать заявку
                    li 
                        .image.no_absolute.no_overlay  
                            img(src="./images/services/3.png" alt="Фото")
                        .content.content_left 
                            h2.h3 Девичник
                            p.text Предлагаем Вам провести девичник с пользой в Shine SPA. В программу девичник входит: обертывание или скрабирование, аромамассаж тела.
                            a(href="#").btn._no-border Узнать подробнее
                    li 
                        .image.no_absolute.no_overlay  
                            img(src="./images/services/4.png" alt="Фото")
                        .content.content_left 
                            h2.h3 Мальчишник в «Бане на крыше»
                            p.text Это возможность собрать друзей, почувствовать традиции настоящей русской бани и пятизвездочного уровня.
                            a(href="#").btn._no-border Узнать подробнее