.bron
    .outer
        .inner 
            .bron__container
                h2 Современные конференц залы
                p.smalltext Все залы оснащены современным оборудованием
                .bron__list.grid2.bron_nolast
                    a(href="#").card__slider
                        .img-slider.img-slider1-js
                            .swiper-wrapper
                                img(src="./images/hall/hall1-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall1-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall1-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall1-1.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Зал Националь
                            p.text Зал Националь - это уникальный зал-трансформер, который подходит для проведения банкетов, гала-ужинов, пышных свадеб, коктейлей, презентаций, конференций, деловых встреч и выставок.<br>Вместимость до 450 гостей.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider2-js
                            .swiper-wrapper
                                img(src="./images/hall/hall2-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall2-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall2-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall2-1.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Конференц-зал Аксаков
                            p.text Три зала Аксаков подходят для проведения небольших мероприятий, тренингов и конференций.<br>Вместимость до 60 гостей.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider2-js
                            .swiper-wrapper
                                img(src="./images/hall/hall3-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall3-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall3-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall3-1.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Конференц-зал Нуриев
                            p.text Конференц-зал Нуриев – отличный вариант для проведения различных тренингов и конференций, частных мероприятий.<br>Вместимость до 100 гостей.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/hall/hall4-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall4-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall4-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall4-1.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Клубная переговорная
                            p.text Переговорная находится на Клубном этаже отеля.<br>Вместимость до 8 гостей.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg>
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/hall/hall5-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall5-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall5-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall5-1.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Зал Бордрум
                            p.text Эксклюзивный зал подходит для небольших совещаний, закрытых деловых встреч и видеоконференций.<br>Вместимость до 12 гостей.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/hall/hall6-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall6-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall6-1.png" alt="Фото").swiper-slide
                                img(src="./images/hall/hall6-1.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Vip-зал бильярда
                            p.text VIP-зал русского бильярда с 12-футовым столом, дает возможность не только получить удовольствие от игры, но и приятно провести время в кругу друзей или деловых партнеров.<br>Вместимость до 8 гостей.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg>