.advantage
    .outer 
        .inner 
            .advantage__container 
                ul 
                    li 
                        .content 
                            h3.h3 Аренда зала бесплатно
                            p.text Стоимость аренды не взимается, вы платите только за банкетное меню
                        img(src='./images/advantage/img1.png' alt="Фото")
                    li 
                        .content 
                            h3.h3 Свадебный номер в подарок
                            p.text В подарок молодожены получают проживание в номере SHERATONPLAZA
                        img(src='./images/advantage/img2.png' alt="Фото")
                    li 
                        .content 
                            h3.h3 Уникальная фотосессия
                            p.text Шикарные интерьеры от знаменитого архитектора Кристиана Лундвала подарят вам возможность сделать уникальные фотографии
                        img(src='./images/advantage/img3.png' alt="Фото")
                    li 
                        .content 
                            h3.h3 Скидки
                            p.text 15% скидка на услуги СПА в Shine Spa<br>-20% на образ невесты от Beauty Zone<br>10% скидка на услуги косметолога в клинике Balance
                        img(src='./images/advantage/img4.png' alt="Фото")