section.chess
    .outer 
        .inner 
            .chess__container
                ul 
                    li 
                        .image.no_absolute 
                            img(src="./images/action/action1.png" alt="Фото")
                        .content.content_left 
                            h2.h3 Утро невесты
                            p.text 
                                span РАННИЙ ЗАЕЗД С 6:00 ИЛИ ПОЗДНИЙ ВЫЕЗД ДО 16:00
                            p.text Специальное предложение для молодоженов. Проведите эту особенную ночь в единственном отеле пять звезд в Республике Башкортостан.<br>Делюкс - 10 000 р. <br>Полулюкс - 17 500 р.<br>Люкс - 23 500 р. <br>Дипломатический - 57 500 р. <br>Президентский - 77 500 р.
                            a.btn._no-border Забронировать
                    li 
                        .image.no_absolute  
                            img(src="./images/action/action2.png" alt="Фото")
                        .content.content_left 
                            h2.h3 Свадебный номер в подарок
                            p.text Впечатляющий выбор площадок, внимание к деталям и легендарный сервис SHERATONPLAZA позволяет воплотить свадьбу вашей мечты в жизнь!
                            p.text При праздновании свадебного банкета в SHERATONPLAZA - молодожены получают в подарок свадебный номер
                            a.link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    li 
                        .image.no_absolute  
                            img(src="./images/action/action3.png" alt="Фото")
                        .content.content_left 
                            h2.h3 Романтическое свидание
                            p.text Подарите себе и своей второй половинке прекрасные мгновения наедине друг с другом.
                            ul.list
                                li Размещение в номере Делюкс или Люкс—
                                li Приветственный комплимент
                                li Роскошный завтрак
                                li Расслабляющий массаж
                                li Посещение фитнес-зала, сауны, хаммам и джакузи
                                li Романтический ужин для двоих
                                li Эксклюзивное разрешение на фотосессию в гостевых зонах отеля
                                li Бесплатный ранний заезд в 10:00 или поздний выезд до 18:00 (при наличии свободных номеров) Делюкс - 21 500 р. на двоих, Люкс - 35 500 р. на двоих
                            a.btn._no-border Забронировать
                    li 
                        .image.no_absolute  
                            img(src="./images/action/action4.png" alt="Фото")
                        .content.content_left 
                            h2.h3 День рождения
                            p.text Персональная праздничная скидка -15% за 3 дня “до” и “после” дня рождения
                            a.link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 