.packet.bg 
    .outer 
        .inner 
            .packet__container 
                h2.h2 Конференц-пакеты
                p.text Специальное предложение по сниженной стоимости, для групп от 15 до 50 гостей
                .packet__pack 
                    h3.h2 Аренда зала на 8 часов
                    p.text Предложение №1
                    ul.packet__list
                        li 
                            .image
                                img(src="./images/packet/1.png" alt="Фото")
                            p Аренда зала
                                span Зал предоставляется в зависимости от количества участников и требованиям заказчика по рассадке
                        li 
                            .image
                                img(src="./images/packet/2.png" alt="Фото")
                            p Оборудование
                                span Экран, проектор, аудиосистема, кликер, флипчарт, навигация по отелю, радио-микрофон
                        li 
                            .image
                                img(src="./images/packet/3.png" alt="Фото")
                            p Питание
                                span 2 кофе-брейка<br>Обед<br>Бутилированная вода
                    ul.packet__price 
                        li.bg1 
                            p Пакет стандарт
                                span 3700 ₽ на 1 гостя
                            ul
                                li Кофе-брейк №1:
                                li Ассорти печенья 3-х видов (ваниль, кантучини, шоколад)
                                li Ассорти орехов (грецкий, миндаль, фундук)
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Кофе-брейк №2:
                                li Профитроли с муссом из лосося
                                li Ассорти пирожков (слоеные пирожки картофель/капуста)
                                li Оладьи со сгущенкой и сметаной
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Обед:
                                li Табуле с булгуром
                                li Суп Минестроне
                                li Гречневая каша с лесными грибами
                                li Морковный торт
                                li Чай или кофе зерновой
                                li Вода минеральная, 0.5 л
                        li.bg2 
                            p Пакет Бизнес 
                                span 4300 ₽ на 1 гостя
                            ul
                                li Кофе-брейк №1:
                                li Киш лорен с ветчиной и сыром
                                li Блинчики с мясом и грибами
                                li Мини-медовик
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Кофе-брейк №2:
                                li Мини сэндвич с курицей и томатами
                                li Брускетта с томатами и сыром моцарелла
                                li Ассорти орехов (грецкий, миндаль, фундук)
                                li Эклер-сувенир
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Обед:
                                li Салат со свежими овощами с копченой сметаной
                                li Куриный суп с домашней лапшой
                                li Фишкейк с пюре из моркови
                                li Вишневый пирог
                                li Чай или кофе зерновой
                                li Вода минеральная, 0.5 л
                        li.bg3 
                            p Пакет VIP
                                span 5000 ₽ на 1 гостя
                            ul
                                li Кофе-брейк №1:
                                li Мини сэндвич с курицей и томатами
                                li Брускетта с томатами и сыром моцарелла
                                li Ассорти орехов (грецкий, миндаль, фундук)
                                li Эклер-сувенир
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Кофе-брейк №2:
                                li Круассан-сендвич с моцареллой и томатами
                                li Куриный пирог
                                li Блинчик с лососем и творожным сыром
                                li Мини-медовик
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Обед:
                                li Салат Нисуаз с тунцом
                                li Чечевичный крем-суп
                                li Фиш-энд-чипс с картофелем фри
                                li Эстерхази
                                li Чай или кофе зерновой
                                li Вода минеральная, 0.5 л