.packet
    .outer 
        .inner 
            .packet__container 
                .packet__pack 
                    h3.h2 Аренда зала на 4 часа
                    p.text Предложение №2
                    ul.packet__list
                        li 
                            .image
                                img(src="./images/packet/4.png" alt="Фото")
                            p Аренда зала
                                span Зал предоставляется в зависимости от количества участников и требованиям заказчика по рассадке
                        li 
                            .image
                                img(src="./images/packet/5.png" alt="Фото")
                            p Оборудование
                                span Экран, проектор, аудиосистема, кликер, флипчарт, навигация по отелю, радио-микрофон
                        li 
                            .image
                                img(src="./images/packet/6.png" alt="Фото")
                            p Питание
                                span Кофе-брейк<br>Обед в пакете VIP<br>Бутилированная вода
                    ul.packet__price 
                        li.bg4 
                            p Пакет стандарт
                                span 1400 ₽ на 1 гостя
                            ul  
                                li(style="padding-bottom: 0;") Кофе-брейк на выбор:
                            ul
                                li Вариант №1
                                li Ассорти печенья 3-х видов (ваниль, кантучини, шоколад)
                                li Ассорти орехов (грецкий, миндаль, фундук)
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Вариант №2
                                li Профитроли с муссом из лосося
                                li Ассорти пирожков (слоеные пирожки картофель/капуста)
                                li Оладьи со сгущенкой и сметаной
                                li Чай, кофе зерновой, молоко, лимон

                        li.bg5 
                            p Пакет Бизнес 
                                span 1700 ₽ на 1 гостя
                            ul  
                                li(style="padding-bottom: 0;") Кофе-брейк на выбор:
                            ul
                                li Вариант №1
                                li Мини сэндвич с курицей и томатами
                                li Брускетта с томатами и сыром моцарелла
                                li Ассорти орехов (грецкий, миндаль, фундук)
                                li Эклер-сувенир
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li Кофе-брейк №2:
                                li Брускетта с печеным болгарским перцем
                                li Салат греческий
                                li Кокосовая паннакота
                                li Апельсиновый фреш
                                li Яблочный фреш
                                li Морковный фреш
                                li Чай, кофе зерновой, молоко, лимон
                                li Вода минеральная, 0.5 л
                        li.bg6 
                            p Пакет VIP
                                span 2900 ₽ на 1 гостя
                            ul
                                li Кофе-брейк:
                                li Круассан-сендвич с моцареллой и томатами
                                li Куриный пирог
                                li Блинчик с лососем и творожным сыром
                                li Мини-медовик
                                li Чай, кофе зерновой, молоко, лимон
                            ul
                                li(style="padding-bottom: 0;") Обед на выбор:
                            ul
                                li Вариант №1
                                li Салат Уфимский
                                li Крем-суп из тыквы
                                li Куриный с картофельным пюре
                                li Медовик
                                li Чай или кофе зерновой
                                li Вода минеральная, 0.5 л
                            ul
                                li Вариант №2
                                li Салат со свежими овощами с копченой сметаной
                                li Куриный суп с домашней лапшой
                                li Фишкейк с пюре из моркови
                                li Вишневый пирог
                                li Чай или кофе зерновой
                                li Вода минеральная, 0.5 л
                    .packet__form
                        h3.h2 Интересуют конференц-пакеты?<br>Напишите нам и мы Вам перезвоним
                        a(href="#").btn._no-border Подать заявку