.bron.mer
    .outer
        .inner 
            .bron__container
                h2 Идеальное место для праздников
                p.smalltext Sheratonplaza Ufa Congress Hotel
                .bron__list.grid3
                    a(href="#").card2
                        .card1
                            .img
                                img(src='./images/mer/photo1.png' alt="Фото")
                        .content
                            h3.h3 Гала-ужин и др.
                            p.text 2 июня в зале "Националь" пройдет одно из масштабных мероприятий отеля и города — гала-ужин и творческий вечер с оперным певцом
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card2
                        .card1
                            .img
                                img(src='./images/mer/photo2.png' alt="Фото")
                        .content
                            h3.h3 Свадьбы
                            p.text Впечатляющий выбор площадок, внимание к деталям и легендарный сервис SHERATONPLAZA позволяет воплотить свадьбу вашей мечты в жизнь!
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card2
                        .card1
                            .img
                                img(src='./images/mer/photo3.png' alt="Фото")
                        .content
                            h3.h3 Дни рождения
                            p.text Отмечайте свой день рождения в Sheratonplaza Ufa Congress Hotel
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 