section.number
    .outer
        .inner 
            .number__container
                h2 Свяжитесь с нами
                p.smalltext Лучший выбор для тех, кто ищет роскошное и комфортное проживание
                p.text Отель расположен в туристическом районе Уфы, в 4 км от центра города, в нескольких минутах езды от памятника Салавату Юлаеву. Рядом располагается Башкирский государственный театр оперы и балета. 
section.map 
    .outer 
        .inner 
            .map-grid
                .map-contacts 
                    p 
                        span Прием гостей:
                        a(href="tel:+73472850101") +7 (347) 285-01-01
                        a(href="mailto:info@sheratonplaza.ru") info@sheratonplaza.ru
                    p 
                        span Отдел бронирования:
                        a(href="tel:+73472850102") +7 (347) 285-01-02
                        a(href="mailto:reserve@sheratonplaza.ru") reserve@sheratonplaza.ru
                    p 
                        span Менеджер по рекламе:
                        a(href="tel:+73472850103") +7 (347) 285-01-03
                        a(href="mailto:reserve@sheratonplaza.ru") reserve@sheratonplaza.ru
                    p 
                        span Адрес:
                        | г.Уфа, ул. Цюрупы 7, Республика Башкортостан, 450057

                    p 
                        span Социальные сети:
                        strong
                            a(href="#")
                                <svg style="margin-right:10px;" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 17.5C0 7.84 7.84 0 17.5 0C27.16 0 35 7.84 35 17.5C35 27.16 27.16 35 17.5 35C7.84 35 0 27.16 0 17.5Z" fill="#A00062"/>
                                    <path d="M9.19995 11.5H6.59995C5.89995 11.5 5.69995 11.8 5.69995 12.2C5.69995 12.9 6.59995 16.3 9.79995 20.8C11.9 23.9 14.9 25.5 17.7 25.5C19.3 25.5 19.5 25.1 19.5 24.5V22.2C19.5 21.5 19.7 21.3 20.2 21.3C20.6 21.3 21.1999 21.5 22.7999 23C24.5999 24.8 24.7999 25.5 25.7999 25.5H28.4C29.1 25.5 29.4999 25.1 29.2999 24.4C29.0999 23.7 28.2 22.6 27.1 21.4C26.5 20.7 25.5999 19.9 25.2999 19.5C24.8999 19 24.9999 18.8 25.2999 18.4C25.2999 18.4 28.3999 14 28.7999 12.5C28.9999 12 28.8 11.6 28 11.6H25.4C24.7 11.6 24.3999 11.9 24.2999 12.3C24.2999 12.3 23 15.5 21.1 17.6C20.5 18.2 20.2 18.4 19.9 18.4C19.7 18.4 19.5 18.2 19.5 17.7V12.6C19.5 11.9 19.3 11.7 18.8 11.7H14.7C14.3 11.7 14 12 14 12.3C14 12.9 14.9 13.1 15 14.8V18.6C15 19.4 14.8 19.6 14.5 19.6C13.6 19.6 11.5 16.4 10.2 12.7C10.1 11.8 9.79995 11.5 9.19995 11.5Z" fill="white"/>
                                </svg> Vkontakte

                            a(href="#") 
                                <svg style="margin-right:10px;" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 35C27.165 35 35 27.165 35 17.5C35 7.83502 27.165 0 17.5 0C7.83502 0 0 7.83502 0 17.5C0 27.165 7.83502 35 17.5 35Z" fill="#A00062"/>
                                    <path d="M14.3 25.5002C13.7 25.5002 13.8 25.3002 13.6 24.7002L12 19.3002L24.8 11.7002" fill="#F2F2F2"/>
                                    <path d="M14.3 25.5C14.7 25.5 14.9 25.3 15.2 25.1L17.5 22.8L14.6 21" fill="#E2E2E2"/>
                                    <path d="M14.6 21.1002L21.7 26.3002C22.5 26.7002 23.1 26.5002 23.3 25.6002L26.1 12.0002C26.4 10.8002 25.7 10.3002 24.9 10.6002L8.00001 17.1002C6.80001 17.6002 6.90001 18.2002 7.80001 18.5002L12.1 19.9002L22.1 13.6002C22.6 13.3002 23 13.5002 22.7 13.8002" fill="white"/>
                                </svg>Telegram
                .map-y
                    #map-ya