section.chess.services
    .outer 
        .inner 
            .chess__container
                .chess__title 
                    h2.h2!= numberTitle
                    p.smalltext!= numberSubtitle
                    p.text!= numberText
                ul 
                    li 
                        .image.no_absolute.no_overlay 
                            img(src="./images/spa/spa_2.png" alt="Фото")
                        .content.content_left 
                            h2.h3 СПА-Девичник
                            p.text Отдых в хаммам, джакузи и в гостевой зоне.Обертывание или скрабирование (на выбор), аромассаж тела 30 мин.                            
                            ul(style="list-style:disc; padding-left: 30px;") 
                                li 3 человека - <span style="color: #A00062;">13 000 р.</span>
                                li 4 человека - <span style="color: #A00062;">17 500 р.</span>
                                li 5 человек - <span style="color: #A00062;">22 000 р.</span>

section(style="--bg-1: url(../images/bg/spa_4.png)").prices 
    .outer 
        .inner 
            h2.h3 Массаж
            .prices__content
                ul 
                    li Массаж общий классический 30 мин - 2 500 р.
                    li Массаж общий классический 60 мин - 4 000 р.
                    li Массаж общий классический 90 мин - 5 500 р.
                    li.br Массаж классический детский<br>
                        | До 8 лет включительно 40 мин – 2 000 р.<br>
                        | От 9-12 лет включительно 60 мин – 3 000 р.
                    li.br Массаж вулканическими камнями 50 мин - 3 500 р.
                    li Массаж вулканическими камнями 90 мин - 5 500 р.
                    li.br Массаж Испанский расслабляющий 40 минут - 4 000 р.
                    li Массаж Испанский расслабляющий 60 мин - 5 000 р.
                    li Массаж Испанский расслабляющий 90 минут - 6 500 р.
                    li.br Массаж лимфодренажный 40 минут - 4 000 р.
                    li Массаж лимфодренажный 90 минут - 6 000 р.
                ul
                    li Массаж спортивный 40 мин - 4 500 р.
                    li Массаж спортивный 60 мин - 6 000 р.
                    li.br Массаж антицеллюлитный 60 мин - 5 000 р..
                    li.br Массаж ШВЗ 30 минут - 2 500 р.
                    li.br Массаж ног (бедро,голень,стопа) 50 минут - 3 500 р.
                    li.br Массаж головы 15 минут - 1 500 р.
                    li.br Массаж лица 20 мин – 2 000 р.
                    li.br Баночный (вакуумный) массаж 60 мин – 5 000 р.
section.prices_hit 
    .outer 
        .inner 
            ul 
                li 
                    p Волшебные мгновения
                        span 6 000 р., 90 минут
                    p Расслабляющий массаж тела, ручной массаж лица (цена на 1 человека).
                li 
                    p После перелета
                        span 7 500 р.
                    p Распаривание в хаммам, скрабирование, массаж шейно-воротниковой зоны, массаж ног (цена на 1 человека).
                li 
                    p Рай для двоих
                        span 11 000 р., 120 минут
                    p Отдых в хаммам до 60 мин. Расслабляющий массаж тела - 60 мин, в одном кабинете двумя мастерами. Массаж головы -15 мин(цена на 2 человек).
                li 
                    p Пенная вечеринка
                        span 4 500 р., 90 минут
                    p Отдых в хаммам, джакузи, гостевая зона. Пенный массаж, пилинг рукавицей Кесе (цена на 1 человека).
                li 
                    p Мужской характер
                        span 7 000 р., 90 минут
                    p Распаривание в хаммам, скрабирование морской солью с добавлением бурых водорослей, масла лаванды и жожоба. Расслабляющий массаж тела и точечный массаж стоп (цена на 1 человека).
                li 
                    p Полюби себя 
                        span 6 500 р., 90 минут
                    p Отдых в хаммам, джакузи, гостевая зона. Чайная церемония с башкирскими травами. Скрабирование морской солью с добавлением бурых водорослей, масла лаванды и жожоба или Обертывание (голубая и розовая глина, горький шоколад)Испанский расслабляющий массаж тела с релаксированием 40 минут (снимает психологическое и физическое напряжение, успокаивает нервную систему).
                li 
                    p Стройное тело
                        span 8 500 р., 120 минут
                    p Отдых в хаммам, джакузи, гостевая зона. Скрабирование (глубокое очищение, дренажный эффект). Обертывание (антицеллюлитный и моделирующий эффекты). Массаж лимфодренажный или антицеллюлитный 40 минут.
section.number
    .outer
        .inner 
            //- .number__container
            //-     h2!= numberTitle
            //-     p.smalltext!= numberSubtitle
            //-     p.text!= numberText
    .number__slider-container
        .number__slider-js.number__slider 
            .swiper-wrapper.number__wrapper
                each slide in slides
                    .number__slide.swiper-slide 
                        img(src!= slide loading="lazy" alt="Фото")
            .number__slider-pagination
                p!= title
                .swiper-pagination
        .number__slider-thumb-container
            .outer
                .inner 
                    .swiper-button-next-js.number__slider-next.number__slider-btn
                        <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M54.5898 6.66943L1.22984 6.66945L1.22984 5.17586L54.5898 5.17585L54.5898 6.66943Z" fill="white"/>
                            <path d="M5.89041 0.847265C6.12041 0.847265 6.34041 0.95903 6.48041 1.15208C6.72041 1.48737 6.65041 1.95475 6.32041 2.18845L1.65041 5.63284C1.53041 5.72429 1.46041 5.81573 1.46041 5.90717C1.46041 5.98846 1.53041 6.09006 1.65041 6.18151L6.33041 9.65638C6.66041 9.90023 6.73041 10.3676 6.49041 10.6927C6.25041 11.028 5.79041 11.0992 5.47041 10.8553L0.790411 7.38044C0.29041 7.0045 0.000409374 6.466 0.000409225 5.89701C0.000409077 5.32803 0.29041 4.78952 0.79041 4.42375L5.46041 0.979351C5.59041 0.887907 5.74041 0.837104 5.89041 0.837104L5.89041 0.847265Z" fill="white"/>
                        </svg>
                    .swiper-button-prev-js.number__slider-prev.number__slider-btn
                        <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M54.5898 6.66943L1.22984 6.66945L1.22984 5.17586L54.5898 5.17585L54.5898 6.66943Z" fill="white"/>
                            <path d="M5.89041 0.847265C6.12041 0.847265 6.34041 0.95903 6.48041 1.15208C6.72041 1.48737 6.65041 1.95475 6.32041 2.18845L1.65041 5.63284C1.53041 5.72429 1.46041 5.81573 1.46041 5.90717C1.46041 5.98846 1.53041 6.09006 1.65041 6.18151L6.33041 9.65638C6.66041 9.90023 6.73041 10.3676 6.49041 10.6927C6.25041 11.028 5.79041 11.0992 5.47041 10.8553L0.790411 7.38044C0.29041 7.0045 0.000409374 6.466 0.000409225 5.89701C0.000409077 5.32803 0.29041 4.78952 0.79041 4.42375L5.46041 0.979351C5.59041 0.887907 5.74041 0.837104 5.89041 0.837104L5.89041 0.847265Z" fill="white"/>
                        </svg>
                    .number__thumb-slider.number__thumb-slider-js 
                        .number__thumb-label Следующее фото
                        .swiper-wrapper.thumn-number__wrapper
                            each thumb in thumbs
                                .number__slide.swiper-slide 
                                    img(src!= thumb loading="lazy" alt="Фото")

section.chess.services.servicespb
    .outer 
        .inner 
            .chess__container
                .chess__title 
                    h2.h2 BEAUTY ZONE VIP
                    p.smalltext Косметические средства
                ul 
                    li 
                        .image.no_absolute.no_overlay 
                            img(src="./images/beauty/maska.png" alt="Фото")
                        .content.content_left 
                            ul(style="list-style:disc; padding-left: 30px;row-gap: 30px;display: flex;flex-direction: column;") 
                                li 
                                    div
                                        p Маска ДНК на вискозной основе / <strong>Mashera DNA</strong> 
                                        <span style="color: #A00062;">1 900 р.</span>
                                li 
                                    div
                                        p Маска Коллагеновая на вискозной основе / 
                                            strong Mashera Collagene
                                        <span style="color: #A00062;">1 900 р.</span>
                                li 
                                    div
                                        p Маска Гиалуроновая на вискозной основе / 
                                            strong Mashera Jaluronico
                                        <span style="color: #A00062;">1 900 р.</span>
                                li 
                                    div
                                        p Маска Гиалуроновая c муцином улитки на вискозной основе / 
                                            strong Mashera Jaluronico bava lumaca
                                        <span style="color: #A00062;">2 200 р.</span>
                                li 
                                    div
                                        p Уплотняющая и осветляющая маска со стабильной формой витамина С
                                        <span style="color: #A00062;">1 100 р.</span>
                                li 
                                    div
                                        p Гидрогелевые патчи для глаз с эффектом лифтингом
                                        <span style="color: #A00062;">300 р.</span>
                                li 
                                    div
                                        p Маска Гидрогелевая для лица с эффектом лифтинга в индивидуальной упаковке
                                        <span style="color: #A00062;">1000 р.</span>
                                li 
                                    div
                                        p Мезороллер
                                        <span style="color: #A00062;">2 700 р.</span>
                                li 
                                    div
                                        p Сыворотка для роста ресниц / DSD De Luxe
                                        <span style="color: #A00062;">6 700 р.</span>