.bron
    .outer
        .inner 
            .bron__container
                h2 Место, где можно отдохнуть
                p.smalltext Изысканные блюда на любой вкуса
                .bron__list.grid2
                    a(href="#").card__slider
                        .img-slider.img-slider1-js
                            .swiper-wrapper
                                img(src="./images/restorans/IMG_7389.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/IMG_7389.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/IMG_7389.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/IMG_7389.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Novum Taganok
                            p.text Интернациональное меню в стиле фьюжн с разнообразными блюдами кухонь мира и богатая коллекция вин порадует даже самого изысканного гурмана.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider2-js
                            .swiper-wrapper
                                img(src="./images/restorans/ros_0.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/ros_0.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/ros_0.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/ros_0.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Ресторан Rossinsky
                            p.text Статусное заведение, которое сочетает в себе утонченный дизайн, уютную обстановку и современные веяния в ресторанном бизнесе.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider2-js
                            .swiper-wrapper
                                img(src="./images/restorans/su_2.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/su_2.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/su_2.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/su_2.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Sugar Free Bar
                            p.text Если вам приелись зеленые яблоки и другие разрешенные большинством диет фрукты, то бар станет настоящей находкой, полностью исключив риск лишних сантиметров.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/restorans/sk_4.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/sk_4.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/sk_4.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/sk_4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Sky Lounge
                            p.text Это одно из лучших мест чтобы расслабиться и наслаждаться в любое время года великолепным видомна Уфу, закатами и огнями.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg>
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/restorans/li_4.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/li_4.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/li_4.png" alt="Фото").swiper-slide
                                img(src="./images/restorans/li_4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Cafe Link 24/1
                            p.text Статусное заведение, которое сочетает в себе утонченный дизайн, уютную обстановку и современные веяния в ресторанном бизнесе.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    

