.modal.modal-js
    .modal__container.modal__container-js
        .modal__close-button.modal__close-js
        div(data-id="buy" style="display: none;").modal__content
            img(src="./images/suvenir/img1.png" alt="Картинка")
            .modal__content-right
                .modal__title Запрос на покупку
                .modal__desc RG - ll 
                    span 30 000 руб.
                form(action="").modal__form-js
                    +input('Как вас зовут?','text','fio')
                    +input('Номер телефона','text','phone').phone-mask--js
                    +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true1')
                    button(type="submit" style="max-width: 100%;").btn._no-border Отправить
        div(data-id="nikax" style="display: none;").modal__content
            img(src="./images/form/nikax.png" alt="Картинка")
            .modal__content-right
                .modal__title Заявка на никах
                form(action="").modal__form-js
                    +input('Как вас зовут?','text','fio')
                    +input('Номер телефона','text','phone').phone-mask1--js
                    +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true2')
                    button(type="submit" style="max-width: 100%;").btn._no-border Отправить
        div(data-id="viezd" style="display: none;").modal__content
            img(src="./images/form/nikax.png" alt="Картинка")
            .modal__content-right
                .modal__title Заявка на выездную регистрацию
                form(action="").modal__form-js
                    +input('Как вас зовут?','text','fio')
                    +input('Номер телефона','text','phone').phone-mask2--js
                    +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true2')
                    button(type="submit" style="max-width: 100%;").btn._no-border Отправить
        div(data-id="success" style="display: none; row-gap: 40px;grid-template-columns: 1fr;max-width: 594px;").modal__content
            img(src="./images/form/success.svg" alt="Картинка" style="max-width: 168px; margin: 0 auto;")
            .modal__title Ваша заявка успешно отправлена
            div(style="").modal__desc Спасибо за обращение, мы свяжемся с Вами в ближайшее время!
            button(style="max-width: 100%;").btn._no-border.modal__close-js Вернуться на сайт