.modal.modal-js
    .modal__container.modal__container-js
        .modal__close-button.modal__close-js
        div(data-id="callme" style="display: none;").modal__content
            .modal__title Заказать звонок
            .modal__desc пожалуйста, заполните формы мы свяжемся с Вами в ближайшее время
            form(action="").modal__form-js
                +input('Номер телефона','text','phone').phone-mask--js
                p пожалуйста укажите корректно
                +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true1')
                button(type="submit").btn Подобрать материал
        div(data-id="checklist" style="display: none;").modal__content
            .modal__title Опросный лист
            .modal__desc Заполните форму, наш специалист проконсультирует в ближайшее время
            form(action="").modal__form-js
                +input('Название компании','text','company')
                p например ООО Северсталь
                +input('Контактное лицо','text','face')
                p ваша Фамилия Имя Отчество
                +input('Номер телефона','text','phone').phone-mask1--js
                p пожалуйста укажите корректно
                .modal__checkbox-title Информация по подготовке поверхности
                +checkbox('Абразиво-струйная очистка', 'ch1')
                +checkbox('Механическая очистка', 'ch2')
                +checkbox('Нет подготовки (обезжиривание)', 'ch3')
                .modal__checkbox-title Информация по методам нанесения ЛКМ
                +checkbox('Безвоздушный метод распыления', 'ch4')
                +checkbox('Пневмораспыление', 'ch5')
                +checkbox('Нанесение ручным методом (кисть/валик)', 'ch6')
                .modal__checkbox-title Климатические условия при нанесении ЛКМ
                +checkbox('Цех (отапливаемый)', 'ch7')
                +checkbox('Окрасочная камера', 'ch8')
                +checkbox('Уличные условия', 'ch9')
                .modal__checkbox-title Продолжительность сушки, мин
                +checkbox('До нанесения следующего слоя', 'ch10')
                +checkbox('До отправки/перемещения/штабелирования изделия', 'ch11')
                +input('Время','text','time')
                p(style="margin-bottom: 30px;") например 230 минут в климатических условиях                
                +textarea('Условия эксплуатации покрытия','text','uslovia')
                p опишите условия экспуатации (температурное, химическое, агрессивное или абразивное воздействие и тд.)
                +textarea('Срок службы покрытия','text','srok')
                p максимально нужный
                +textarea('Дополнительная информация','text','dop')
                p нарекания на материалы конкурента и тд
                +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true2')
                button(type="submit").btn Получить результат

                