.modal {
    overflow-y: auto;
    height: 0;
    opacity: 0;
    z-index: -2;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(31, 28, 39, 0.4);
    transition: .4s, height 0s 0.5s;
    padding: 20px;
}

.modal_opened {
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 130;
}
.modal__container {
    display: flex;
    z-index: 5;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: auto;
}
.modal__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    @media (min-width: 768px) {
        padding: 40px;
    }
}
.modal__close-button {
    z-index: 5;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    transition: .7s;

    &:hover {
        &::after, &::before {
            background: #A00062;
        }
        
    }
    &::after {
        content: '';
        background: #A1A8AE;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all .3s ease 0s;
        position: absolute;
        transform: rotate(45deg) translateY(-50%);
    }
    &::before {
        content: '';
        background: #A1A8AE;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all .3s ease 0s;
        position: absolute;
        transform: rotate(-45deg) translateY(-50%);
    }
}

.modal__title {
    color: #2E2D2D;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    @media (min-width: 768px) {
        font-size: 48px;
        line-height: 56px;
    }
}
.modal__desc {
    color: #2E2D2D;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    span {
        display: block;
        color: #A00062;
    }
    @media (min-width: 768px) {
        font-size: 21px;
        line-height: 32px;
    }
}

.modal__content {
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 40px;
    max-width: 874px;
    width: 100%;
    & > img {
        width: 100%;
        object-fit: contain;
    }
    form {
        margin-top: 25px;
        position: relative;
        padding-bottom: 30px;
        width: 100%;
        @media (min-width: 768px) {
            margin-top: 40px;
        }
        & > p {
            margin-top: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 110%;
            color: #9C9C9C;
            margin-bottom: 45px;
        }
        .form__placeholder-container:not(:first-of-type) {
            margin-top: 45px;
        }
        .form__checkbox:last-of-type {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        button {
            margin-top: 28px;
            width: 100%;
            margin-bottom: 22px;
        }
    }
    .form__checkbox:not(:last-of-type) {
        margin-top: 9px;   
        height: 27px;
        label {
            font-weight: 500;
            font-size: 14px;
            color: #191C1F;
            &::before  {
                width: 24px;
                height: 24px;
                border: 1px solid #B5B9BD;
                border-radius: 2px;
            }
            &::after {
                width: 12px;
                height: 7px;
            }
        }
        input:checked ~ label::after {
            border-left: 2px solid #FFFFFF;
            border-bottom: 2px solid #FFFFFF;
            left: 6px;
            top: 5px;
        }
        input:checked ~ label::before {
            background: #FF001A;
            border-color: #FF001A;
        }
    }
    
}
.modal__checkbox-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #191C1F;
    margin-top: 20px;
}