.bron
    .outer
        .inner 
            .bron__container
                h2 Выберите ваш идеальный номер
                p.smalltext 156 номеров - от Делюкса до Президентского люкса
                .bron__list.grid2
                    a(href="#").card__slider
                        .img-slider.img-slider1-js
                            .swiper-wrapper
                                img(src="./images/room/deluxe1.png" alt="Фото").swiper-slide
                                img(src="./images/room/deluxe2.png" alt="Фото").swiper-slide
                                img(src="./images/room/deluxe3.png" alt="Фото").swiper-slide
                                img(src="./images/room/deluxe4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Делюкс
                            p.text Комфортабельные номера Делюкс (32 м2) с отдельной рабочей и уютной спальной зоной.2 номера для людей с ограниченными возможностями.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider2-js
                            .swiper-wrapper
                                img(src="./images/room/exe1.png" alt="Фото").swiper-slide
                                img(src="./images/room/exe2.png" alt="Фото").swiper-slide
                                img(src="./images/room/exe3.png" alt="Фото").swiper-slide
                                img(src="./images/room/exe4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Экзекьютив
                            p.text Номера (33 м2) с панорамным остеклением на 8 и 9 этажах, позволят насладиться прекрасным видом на город и отдохнуть от суеты.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider2-js
                            .swiper-wrapper
                                img(src="./images/room/club1.png" alt="Фото").swiper-slide
                                img(src="./images/room/club2.png" alt="Фото").swiper-slide
                                img(src="./images/room/club3.png" alt="Фото").swiper-slide
                                img(src="./images/room/club4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Клубный
                            p.text Клубные номера (33 м2) расположены на 7 этаже отеля. Если вы хотите уединения, то можете позавтракать в уютной Клубной гостиной, в которой так же подают послеобеденные закуски и разнообразные напитки.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/room/polu_lux_1.png" alt="Фото").swiper-slide
                                img(src="./images/room/polu_lux_2.png" alt="Фото").swiper-slide
                                img(src="./images/room/polu_lux_3.png" alt="Фото").swiper-slide
                                img(src="./images/room/polu_lux_4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Полулюкс
                            p.text Большой и светлый номер категории Полулюкс (51 м2) с гостиной и спальной зоной подарит максимальное удовольствие от отдыха.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg>
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/room/dip_lux_1.png" alt="Фото").swiper-slide
                                img(src="./images/room/dip_lux_2.png" alt="Фото").swiper-slide
                                img(src="./images/room/dip_lux_3.png" alt="Фото").swiper-slide
                                img(src="./images/room/dip_lux_4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Дипломатический люкс
                            p.text Просторный (127 кв.м.) и элегантный номер с гардеробной, столовой, кухней, гостиной и библиотекой не оставит вас равнодушными. Эргономичная организация пространства делает Дипломатический Люкс светлым и уютным номером, в котором комфортно работать и отдыхать.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg> 
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/room/lux_1.png" alt="Фото").swiper-slide
                                img(src="./images/room/lux_2.png" alt="Фото").swiper-slide
                                img(src="./images/room/lux_3.png" alt="Фото").swiper-slide
                                img(src="./images/room/lux_4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Люкс
                            p.text Уютный двухкомнатный Люкс (63 м2) с удобным зонированием пространства на гостиную/столовую и спальню.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg>
                    a(href="#").card__slider
                        .img-slider.img-slider3-js
                            .swiper-wrapper
                                img(src="./images/room/president_1.png" alt="Фото").swiper-slide
                                img(src="./images/room/president_2.png" alt="Фото").swiper-slide
                                img(src="./images/room/president_3.png" alt="Фото").swiper-slide
                                img(src="./images/room/president_4.png" alt="Фото").swiper-slide
                            .swiper-pagination
                        .content
                            h3.h3 Президентский люкс
                            p.text Поистине роскошный (170 м2) Президентский Люкс является эталоном комфорта и пятизвездочного сервиса нашего отеля. Просторная гостиная, большой конференц-стол, спальня с пространством для работы и отдыха, библиотека, мраморная ванная комнатас гидромассажным душем и эксклюзивной кедровой сауной сделают ваше пребывание максимально комфортным.
                            .link Подробнее 
                                <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                </svg>


