section.suvenir
    div(style="overflow: hidden;").outer
        .inner 
            .suvenir__container
                h2!= numberTitle
                p.smalltext!= numberSubtitle
                p.text!= numberText
                ul.suvenir__tabs 
                    li._active Картины
                        img(src="./images/suvenir/1.png")
                    li Шкатулки
                        img(src="./images/suvenir/2.png")
                    li Платки
                        img(src="./images/suvenir/3.png")
                    li Трикотаж
                        img(src="./images/suvenir/4.png")
                    li Украшения
                        img(src="./images/suvenir/5.png")
                    li Панно
                        img(src="./images/suvenir/6.png")
                    li Сувениры
                        img(src="./images/suvenir/7.png")
                    li Новый год
                        img(src="./images/suvenir/8.png")
                h3.h2 Картины
                ul.suvenir__items 
                    li
                        img(src="./images/suvenir/img1.png")
                        .content 
                            p.title RG - II
                            p.author Автор: <span>Радик Гарифуллин</span>
                            p.author.description 60х40 см., холст, акрил, масло
                            p.author.price 30 000 руб.
                            button(style="max-width: 212px;" data-modal="true" data-id="buy").btn Купить
                    li
                        img(src="./images/suvenir/img2.png")
                        .content 
                            p.title YV - V
                            p.author Автор: <span>Радик Гарифуллин</span>
                            p.author.description 60х40 см., холст, акрил, масло
                            p.author.price 30 000 руб.
                            button(style="max-width: 212px;" data-modal="true" data-id="buy").btn Купить
                    li
                        img(src="./images/suvenir/img3.png")
                        .content 
                            p.title “Среда YV”
                            p.author Автор: <span>Радик Гарифуллин</span>
                            p.author.description 60х40 см., холст, акрил, масло
                            p.author.price 30 000 руб.
                            button(style="max-width: 212px;" data-modal="true" data-id="buy").btn Купить
                    li
                        img(src="./images/suvenir/img4.png")
                        .content 
                            p.title Шкатулка "Ажурная"
                            p.author.price 30 000 руб.
                            button(style="max-width: 212px;" data-modal="true" data-id="buy").btn Купить
                    li
                        img(src="./images/suvenir/img5.png")
                        .content 
                            p.title Шкатулка "Ажурная"
                            p.author.price 30 000 руб.
                            button(style="max-width: 212px;" data-modal="true" data-id="buy").btn Купить
                    li
                        img(src="./images/suvenir/img6.png")
                        .content 
                            p.title Шкатулка "Ажурная"
                            p.author.price 30 000 руб.
                            button(style="max-width: 212px;" data-modal="true" data-id="buy").btn Купить