/* Include fonts
   ========================================================================= */

/**
 * Roboto
 */
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

/**
 * Agenda Bg
 */
// 500 
@font-face {
   font-family: 'agenda';
   src: url('../fonts/agenda-medium.woff2') format('woff2'),
        url('../fonts/agenda-medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

// 300 
@font-face {
   font-family: 'agenda';
   src: url('../fonts/agenda-light.woff2') format('woff2'),
        url('../fonts/agenda-light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
}
