section(style="box-sizing: content-box;").blacksection.bg1 
    .outer 
        .inner 
            .blacksection__title 
                h2.h2 Для вашего роскошного банкета
                p.smalltext Где еще можно провести свадьбу в SHERATONPLAZA Ufa Congress Hotel
            .slider-thumb__container
                .slider-btn.slider-left-btn.slider-left-btn-js
                    <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M54.5901 5.74756L1.23006 5.74756L1.23006 4.27756L54.5901 4.27756L54.5901 5.74756Z" />
                        <path d="M5.89001 0.0176097C6.12001 0.0176096 6.34001 0.12761 6.48001 0.31761C6.72001 0.64761 6.65001 1.10761 6.32001 1.33761L1.65001 4.72761C1.53002 4.81761 1.46001 4.90761 1.46001 4.99761C1.46001 5.07761 1.53002 5.17761 1.65001 5.26761L6.33002 8.68761C6.66002 8.92761 6.73002 9.38761 6.49002 9.70761C6.25002 10.0376 5.79002 10.1076 5.47002 9.86761L0.790014 6.44761C0.290014 6.07761 1.34382e-05 5.54761 1.33892e-05 4.98761C1.33402e-05 4.42761 0.290014 3.89761 0.790014 3.53761L5.46001 0.14761C5.59001 0.0576096 5.74001 0.00760945 5.89001 0.00760943L5.89001 0.0176097Z" />
                    </svg>

                .slider-btn.slider-right-btn.slider-right-btn-js
                    <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M54.5901 5.74756L1.23006 5.74756L1.23006 4.27756L54.5901 4.27756L54.5901 5.74756Z" />
                        <path d="M5.89001 0.0176097C6.12001 0.0176096 6.34001 0.12761 6.48001 0.31761C6.72001 0.64761 6.65001 1.10761 6.32001 1.33761L1.65001 4.72761C1.53002 4.81761 1.46001 4.90761 1.46001 4.99761C1.46001 5.07761 1.53002 5.17761 1.65001 5.26761L6.33002 8.68761C6.66002 8.92761 6.73002 9.38761 6.49002 9.70761C6.25002 10.0376 5.79002 10.1076 5.47002 9.86761L0.790014 6.44761C0.290014 6.07761 1.34382e-05 5.54761 1.33892e-05 4.98761C1.33402e-05 4.42761 0.290014 3.89761 0.790014 3.53761L5.46001 0.14761C5.59001 0.0576096 5.74001 0.00760945 5.89001 0.00760943L5.89001 0.0176097Z" />
                    </svg>
                .slider-thumb.slider-thumb-services-js
                    ul.swiper-wrapper  
                        li.swiper-slide 
                            p Зал Националь
                        li.swiper-slide 
                            p Ресторан Novum
                        li.swiper-slide 
                            p Зал Нуриев
                        li.swiper-slide 
                            p Lobby plaza
                        li.swiper-slide 
                            p Зал Аксаков
                        li.swiper-slide 
                            p Банкетное меню
                        li.swiper-slide 
                            p Зал Националь
                        li.swiper-slide 
                            p Ресторан Novum
                        li.swiper-slide 
                            p Зал Нуриев
                        li.swiper-slide 
                            p Lobby plaza
                        li.swiper-slide 
                            p Зал Аксаков
                        li.swiper-slide 
                            p Банкетное меню
                        li.swiper-slide 
                            p Зал Националь
                        li.swiper-slide 
                            p Ресторан Novum
                        li.swiper-slide 
                            p Зал Нуриев
                        li.swiper-slide 
                            p Lobby plaza
                        li.swiper-slide 
                            p Зал Аксаков
                        li.swiper-slide 
                            p Банкетное меню
                        li.swiper-slide 
                            p Зал Националь
                        li.swiper-slide 
                            p Ресторан Novum
                        li.swiper-slide 
                            p Зал Нуриев
                        li.swiper-slide 
                            p Lobby plaza
                        li.swiper-slide 
                            p Зал Аксаков
                        li.swiper-slide 
                            p Банкетное меню
            .slider.slider-services-js
                .swiper-wrapper 
                    .swiper-slide.slide 
                        img(src="./images/slide/sl1.png" alt="Спа")
                        img(src="./images/slide/sl1-1.png" alt="Спа")
                        .content 
                            p.h3 Зал Националь
                            p.text Площадь - 347 м2<br>Возможность въезда в зал на автомобиле<br>Вместимость зала до 250 гостей
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Link Cafe
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 СПА «SHINE2»
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Клиника
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Novum Taganok
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Sugar Free
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Link Cafe
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 СПА «SHINE2»
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Клиника
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Novum Taganok
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Sugar Free
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Link Cafe
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 СПА «SHINE2»
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Клиника
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Novum Taganok
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Sugar Free
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Link Cafe
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 СПА «SHINE2»
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Клиника
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше
                    .swiper-slide.slide 
                        img(src="./images/slide/1.png" alt="Спа")
                        img(src="./images/slide/1-1.png" alt="Спа")
                        .content 
                            p.h3 Novum Taganok
                            p.text Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур.<br>По всем вопросам звоните: 
                                a(href="83472850170") +7 (347)285-01-70
                            a(href="#").btn._no-border Узнать больше