section(style="box-sizing: content-box;").blacksection.blacksection_clinica.bg2
    .outer 
        .inner 
            .blacksection__title 
                h2.h2 Косметология
                p.smalltext Полный спектр методик для косметологии лица и тела с доказанной эффективностью.
            .slider-thumb__container
                .slider-btn.slider-left-btn.slider-left-btn-js
                    <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M54.5901 5.74756L1.23006 5.74756L1.23006 4.27756L54.5901 4.27756L54.5901 5.74756Z" />
                        <path d="M5.89001 0.0176097C6.12001 0.0176096 6.34001 0.12761 6.48001 0.31761C6.72001 0.64761 6.65001 1.10761 6.32001 1.33761L1.65001 4.72761C1.53002 4.81761 1.46001 4.90761 1.46001 4.99761C1.46001 5.07761 1.53002 5.17761 1.65001 5.26761L6.33002 8.68761C6.66002 8.92761 6.73002 9.38761 6.49002 9.70761C6.25002 10.0376 5.79002 10.1076 5.47002 9.86761L0.790014 6.44761C0.290014 6.07761 1.34382e-05 5.54761 1.33892e-05 4.98761C1.33402e-05 4.42761 0.290014 3.89761 0.790014 3.53761L5.46001 0.14761C5.59001 0.0576096 5.74001 0.00760945 5.89001 0.00760943L5.89001 0.0176097Z" />
                    </svg>

                .slider-btn.slider-right-btn.slider-right-btn-js
                    <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M54.5901 5.74756L1.23006 5.74756L1.23006 4.27756L54.5901 4.27756L54.5901 5.74756Z" />
                        <path d="M5.89001 0.0176097C6.12001 0.0176096 6.34001 0.12761 6.48001 0.31761C6.72001 0.64761 6.65001 1.10761 6.32001 1.33761L1.65001 4.72761C1.53002 4.81761 1.46001 4.90761 1.46001 4.99761C1.46001 5.07761 1.53002 5.17761 1.65001 5.26761L6.33002 8.68761C6.66002 8.92761 6.73002 9.38761 6.49002 9.70761C6.25002 10.0376 5.79002 10.1076 5.47002 9.86761L0.790014 6.44761C0.290014 6.07761 1.34382e-05 5.54761 1.33892e-05 4.98761C1.33402e-05 4.42761 0.290014 3.89761 0.790014 3.53761L5.46001 0.14761C5.59001 0.0576096 5.74001 0.00760945 5.89001 0.00760943L5.89001 0.0176097Z" />
                    </svg>
                .slider-thumb.slider-thumb-services-js
                    ul.swiper-wrapper  
                        li.swiper-slide 
                            p Venus Legasy
                        li.swiper-slide 
                            p HydraFacial
                        li.swiper-slide 
                            p Mediostar Monolith
                        li.swiper-slide 
                            p Доп. услуги
                        li.swiper-slide 
                            p Venus Legasy
                        li.swiper-slide 
                            p HydraFacial
                        li.swiper-slide 
                            p Mediostar Monolith
                        li.swiper-slide 
                            p Доп. услуги
                        li.swiper-slide 
                            p Venus Legasy
                        li.swiper-slide 
                            p HydraFacial
                        li.swiper-slide 
                            p Mediostar Monolith
                        li.swiper-slide 
                            p Доп. услуги
            .slider.slider-services-js
                .swiper-wrapper 
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica3.png" alt="Venus Legasy")
                        .content 
                            p.h3 Venus Legasy
                            p.text С помощью технологии RF-лифтинга аппарат эффективно решает сложные эстетические проблемы лица и тела, такие как уменьшение количества и глубину морщин, подтягивание кожи и запуск процесса образования коллагена, безоперационное уменьшение окружности тела и проявление целлюлита.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica1.png" alt="HydraFacial")
                        .content 
                            p.h3 HydraFacial
                            ul
                                li Объединяет 5 полноценных процедур в одной: 
                                li микрошлифовка; 
                                li химический пилинг; 
                                li глубокое очищение и лечение;  
                                li интенсивное увлажнение и антиоксидантная терапия; лимфодренажный массаж.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica4.png" alt="Спа")
                        .content 
                            p.h3 Mediostar Monolith
                            p.text Лазерная диодная платформа нового поколения, предназначенная для эпиляции, лечения сосудистых патологий, акне и омоложения кожи.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии

                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica2.png" alt="Дополнительные услуги")
                        .content 
                            p.h3 Дополнительные услуги
                            p.text Наряду с аппаратными, в клинике широко представлены инъекционные и эстетические процедуры, различные техники массажа лица и тела, функциональная диагностика и лабораторные исследования, включая генетические тесты. 
                            p.text Пациентам клиники могут приобрести премиальные косметические средства и БАДы, от ведущих производителей мира.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica3.png" alt="Venus Legasy")
                        .content 
                            p.h3 Venus Legasy
                            p.text С помощью технологии RF-лифтинга аппарат эффективно решает сложные эстетические проблемы лица и тела, такие как уменьшение количества и глубину морщин, подтягивание кожи и запуск процесса образования коллагена, безоперационное уменьшение окружности тела и проявление целлюлита.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica1.png" alt="HydraFacial")
                        .content 
                            p.h3 HydraFacial
                            ul
                                li Объединяет 5 полноценных процедур в одной: 
                                li микрошлифовка; 
                                li химический пилинг; 
                                li глубокое очищение и лечение;  
                                li интенсивное увлажнение и антиоксидантная терапия; лимфодренажный массаж.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica4.png" alt="Спа")
                        .content 
                            p.h3 Mediostar Monolith
                            p.text Лазерная диодная платформа нового поколения, предназначенная для эпиляции, лечения сосудистых патологий, акне и омоложения кожи.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии

                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica2.png" alt="Дополнительные услуги")
                        .content 
                            p.h3 Дополнительные услуги
                            p.text Наряду с аппаратными, в клинике широко представлены инъекционные и эстетические процедуры, различные техники массажа лица и тела, функциональная диагностика и лабораторные исследования, включая генетические тесты. 
                            p.text Пациентам клиники могут приобрести премиальные косметические средства и БАДы, от ведущих производителей мира.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica3.png" alt="Venus Legasy")
                        .content 
                            p.h3 Venus Legasy
                            p.text С помощью технологии RF-лифтинга аппарат эффективно решает сложные эстетические проблемы лица и тела, такие как уменьшение количества и глубину морщин, подтягивание кожи и запуск процесса образования коллагена, безоперационное уменьшение окружности тела и проявление целлюлита.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica1.png" alt="HydraFacial")
                        .content 
                            p.h3 HydraFacial
                            ul
                                li Объединяет 5 полноценных процедур в одной: 
                                li микрошлифовка; 
                                li химический пилинг; 
                                li глубокое очищение и лечение;  
                                li интенсивное увлажнение и антиоксидантная терапия; лимфодренажный массаж.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica4.png" alt="Спа")
                        .content 
                            p.h3 Mediostar Monolith
                            p.text Лазерная диодная платформа нового поколения, предназначенная для эпиляции, лечения сосудистых патологий, акне и омоложения кожи.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии

                    .swiper-slide.slide.slide_clinia 
                        img(src="./images/slide/clinica2.png" alt="Дополнительные услуги")
                        .content 
                            p.h3 Дополнительные услуги
                            p.text Наряду с аппаратными, в клинике широко представлены инъекционные и эстетические процедуры, различные техники массажа лица и тела, функциональная диагностика и лабораторные исследования, включая генетические тесты. 
                            p.text Пациентам клиники могут приобрести премиальные косметические средства и БАДы, от ведущих производителей мира.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее о косметологии
            .blacksection__contacts 
                a(href="tel:88005507855").phone Позвонить
                    span +7 (800) 550-78-55
                a(href="#").whatsapp Написать в WhatsApp
                    span +7 (937) 844-78-55
                a(href="#").online Онлайн-запись
                    span Записаться