.chess
    .outer 
        .inner 
            .chess__container
                ul 
                    li 
                        .image 
                            img(src="./images/room/photo1.png" alt="Фото")
                        .content 
                            a(href="#").linktext НОМЕРНОЙ ФОНД
                            h2 Улучшенные номера
                            p.text Улучшенные номера, рестораны на любой вкус, современные конференц-залы, индивидуально-подобранные спа-процедуры, высококлассный сервис, - мы создали все, чтобы вдохновить вас на успех!
                            p.text Бизнес-отель еще никогда не был таким гостеприимным и комфортным.
                    li 
                        .image 
                            img(src="./images/room/photo2.png" alt="Фото")
                        .content 
                            a(href="#").linktext ВСЕ РЕСТОРАНЫ
                            h2 Рестораны на любой вкус
                            p.text Улучшенные номера, рестораны на любой вкус, современные конференц-залы, индивидуально-подобранные спа-процедуры, высококлассный сервис, - мы создали все, чтобы вдохновить вас на успех!
                            p.text Бизнес-отель еще никогда не был таким гостеприимным и комфортным.
                    li 
                        .image 
                            img(src="./images/room/photo1.png" alt="Фото")
                        .content 
                            a(href="#").linktext НОМЕРНОЙ ФОНД
                            h2 Улучшенные номера
                            p.text Улучшенные номера, рестораны на любой вкус, современные конференц-залы, индивидуально-подобранные спа-процедуры, высококлассный сервис, - мы создали все, чтобы вдохновить вас на успех!
                            p.text Бизнес-отель еще никогда не был таким гостеприимным и комфортным.