.chess._grey
    div(style="overflow: hidden;").outer 
        .inner 
            h2 Пилатес, Йога
            p.smalltext Комплексное оздоровление для тела и духа
            .chess__container
                ul 
                    li
                        .image 
                            img(src="./images/clinica2.png" alt="Фото")
                        .content.content_blacksection 
                            h2 Быть в балансе
                            p.text Пилатес - это тренировка с динамическими нагрузками в медленном темпе, которая помогает оздоровить суставы и укрепить мышцы, снять напряжение и боли в теле, улучшить осанку, нормализовать сон и самочувствие в целом. 
                            p.text Она направлена на комплексную координацию тела, ума и духа под присмотром тренера. Рекомендовано мужчинам и женщинам.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее об услугах
            .blacksection__contacts 
                a(href="tel:88005507855").phone._black Позвонить
                    span +7 (800) 550-78-55
                a(href="#").whatsapp._black Написать в WhatsApp
                    span +7 (937) 844-78-55
                a(href="#").online._black Онлайн-запись
                    span Записаться