.chess._blacksection
    div(style="overflow: hidden;").outer 
        .inner 
            h2 Диетология
            p.smalltext Подробнее об авторских программах
            .chess__container
                ul 
                    li.blacksection-chess 
                        .image 
                            img(src="./images/clinica1.png" alt="Фото")
                        .content.content_blacksection 
                            h2 Персональная программа
                            p.text Авторская и запатентованная методика коррекции веса Ирины Николаевны Мороз. Персональная терапевтическая программа снижения веса, учитывающая особенности организма, физиологические данные, возможности и привычки пациента.
                            p.text Для вашего удобства разработано три варианта наполнения программы. Регулярная информационная поддержка пациента является ещё одним ключевым преимуществом авторской методики.
                            a(href="#" style="margin-top: unset;").btn._no-border Подробнее об авторских программах
            .blacksection__contacts 
                a(href="tel:88005507855").phone._black Позвонить
                    span +7 (800) 550-78-55
                a(href="#").whatsapp._black Написать в WhatsApp
                    span +7 (937) 844-78-55
                a(href="#").online._black Онлайн-запись
                    span Записаться