.timeandprice
    .outer 
        .inner 
            .timeandprice__container
                h2 Время и стоимость
                ul 
                    li 
                        p 1
                            span час
                        p.text 7 000 р.
                    li 
                        p 4
                            span часа
                        p.text 21 000 р.                      
                    li 
                        p 
                            span Весь день
                        p.text 30 000 р.
    .timeandprice__black 
        p.label В стоимость входит: Экран, проектор, аудиосистема, Wi-Fi, микрофон
        .outer 
            .inner 
                ul 
                    li 
                        ul 
                            li Характеристики
                            li Площадь
                            li Размеры
                            li Высота потолка
                            li Вместимость
                    li 
                        ul 
                            li Клубный
                            li 21
                            li 5,23 x 4,03
                            li 2,56
                            li до 8 человек