.timeandprice
    .outer 
        .inner 
            .timeandprice__container
                h2 Время и стоимость
                ul 
                    li 
                        p 1
                            span час
                        p.text 10 000 р.
                    li 
                        p 4
                            span часа
                        p.text 25 000 р.                      
                    li 
                        p 
                            span Весь день
                        p.text 35 000 р.
    .timeandprice__black 
        p.label В стоимость входит: Экран, аудиосистема, Wi-Fi
        .outer 
            .inner 
                ul 
                    li 
                        ul 
                            li Характеристики
                            li Площадь
                            li Размеры
                            li Высота потолка
                            li Вместимость
                    li 
                        ul 
                            li Эксклюзивный (B)
                            li 37,5
                            li 7,09 x 5,29
                            li 2,5
                            li до 12 человек