.timeandprice
    .outer 
        .inner 
            .timeandprice__container
                h2 Время и стоимость
                ul 
                    li 
                        p 1
                            span час
                        p.text Зал полностью - 30 000 р.<br>1/3 часть зала - 15 000 р.
                    li 
                        p 4
                            span часа
                        p.text Зал полностью - 100 000 р.<br>1/3 часть зала - 50 000 р.                      
                    li 
                        p 
                            span Весь день
                        p.text Зал полностью - 160 000 р.<br>1/3 часть зала - 70 000 р.
    .timeandprice__black 
        p.label В стоимость входит: Экран, проектор, аудиосистема, Wi-Fi, микрофон
        .outer 
            .inner 
                ul 
                    li 
                        ul 
                            li Характеристики
                            li Площадь
                            li Размеры
                            li Высота потолка
                            li Варианты рассадки и количество гостей
                            li Банкет
                            li Театр
                            li Конференц
                            li Прием
                            li Класс
                            li П-рассадка
                            li Каре
                            li Ужин с танцами
                    li 
                        ul 
                            li Главный зал
                            li 350
                            li 26,12 x 13,39
                            li 6,37
                            li 
                            li 240
                            li 400
                            li 110
                            li 350
                            li 180
                            li 94
                            li 216
                            li 220
                    li 
                        ul 
                            li Часть A
                            li 125
                            li 13,39 x 8,58
                            li 
                            li 
                            li 80
                            li 130
                            li 64
                            li 130
                            li 60
                            li 54
                            li 72
                            li 60
                    li 
                        ul 
                            li Часть B
                            li 13,39 x 9,1
                            li 
                            li 
                            li 
                            li 80
                            li 130
                            li 64
                            li 130
                            li 60
                            li 54
                            li 72
                            li 60

                    li 
                        ul 
                            li Часть C
                            li 13,39 x 8,5
                            li 
                            li 
                            li 
                            li 80
                            li 130
                            li 64
                            li 130
                            li 60
                            li 54
                            li 72
                            li 60
                h2.h2 Варианты рассадки
                ul.variant
                    li 
                        p.text Банкет
                        <img src="/images/variant/banket.svg" alt="Банкет">
                    li 
                        p.text Театр
                        <img src="/images/variant/2.svg" alt="Театр">
                    li 
                        p.text Конференц
                        <img src="/images/variant/3.svg" alt="Конференц">
                    li 
                        p.text Прием
                        <img src="/images/variant/4.svg" alt="Прием">
                    li 
                        p.text Класс
                        <img src="/images/variant/5.svg" alt="Класс">
                    li 
                        p.text П-Рассадка
                        <img src="/images/variant/6.svg" alt="П-Рассадка">
                    li 
                        p.text Каре
                        <img src="/images/variant/7.svg" alt="Каре">
                    li 
                        p.text Ужин с танцами
                        <img src="/images/variant/8.svg" alt="Ужин с танцами">