.timeandprice
    .outer 
        .inner 
            .timeandprice__container
                h2 Время и стоимость
                ul 
                    li 
                        p 1
                            span час
                        p.text 7 000 р.
                    li 
                        p 4
                            span часа
                        p.text 25 000 р.                      
                    li 
                        p 
                            span Весь день
                        p.text 40 000 р.
    .timeandprice__black 
        p.label В стоимость входит: Экран, проектор, аудиосистема, Wi-Fi, микрофон
        .outer 
            .inner 
                ul 
                    li 
                        ul 
                            li Характеристики
                            li Площадь
                            li Размеры
                            li Высота потолка
                            li Варианты рассадки и количество гостей
                            li Банкет
                            li Театр
                            li Конференц
                            li Прием
                            li Класс
                            li П-рассадка
                            li Каре
                            li Ужин с танцами
                    li 
                        ul 
                            li Аксаков 1 (А1)
                            li 65
                            li 11,67 x 6,05
                            li 2,32
                            li 
                            li 30
                            li 40
                            li 22
                            li 30
                            li 24
                            li 20
                            li 30
                            li 20
                    li 
                        ul 
                            li Аксаков 2 (А2)
                            li 64,6
                            li 11,29 x 5,72
                            li 
                            li 
                            li 40
                            li 50
                            li 26
                            li 40
                            li 32
                            li 22
                            li 36
                            li 30
                    li 
                        ul 
                            li Аксаков 3 (А3)
                            li 70,6
                            li 11,62 x 5,6
                            li 
                            li 
                            li 40
                            li 60
                            li 36
                            li 40
                            li 40
                            li 28
                            li 36
                            li 30
                h2.h2 Варианты рассадки
                ul.variant
                    li 
                        p.text Банкет
                        <img src="/images/variant/banket.svg" alt="Банкет">
                    li 
                        p.text Театр
                        <img src="/images/variant/2.svg" alt="Театр">
                    li 
                        p.text Конференц
                        <img src="/images/variant/3.svg" alt="Конференц">
                    li 
                        p.text Прием
                        <img src="/images/variant/4.svg" alt="Прием">
                    li 
                        p.text Класс
                        <img src="/images/variant/5.svg" alt="Класс">
                    li 
                        p.text П-Рассадка
                        <img src="/images/variant/6.svg" alt="П-Рассадка">
                    li 
                        p.text Каре
                        <img src="/images/variant/7.svg" alt="Каре">
                    li 
                        p.text Ужин с танцами
                        <img src="/images/variant/8.svg" alt="Ужин с танцами">