section.section 
    .outer 
        .inner 
            .section__content
                a(href="#").linktext ВСЕ АКЦИИ
                h2 Специальные предложения
                p.smalltext Акции и специальные предложения для гостей и постояльцев SHERATONPLAZA Ufa Congress Hotel
                .section__list.section__list-slider.section__list-js 
                    .slider__buttons
                        .slider-btn.slider-left-btn.slider-sect-left-btn-js
                            <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M54.5901 5.74756L1.23006 5.74756L1.23006 4.27756L54.5901 4.27756L54.5901 5.74756Z" />
                                <path d="M5.89001 0.0176097C6.12001 0.0176096 6.34001 0.12761 6.48001 0.31761C6.72001 0.64761 6.65001 1.10761 6.32001 1.33761L1.65001 4.72761C1.53002 4.81761 1.46001 4.90761 1.46001 4.99761C1.46001 5.07761 1.53002 5.17761 1.65001 5.26761L6.33002 8.68761C6.66002 8.92761 6.73002 9.38761 6.49002 9.70761C6.25002 10.0376 5.79002 10.1076 5.47002 9.86761L0.790014 6.44761C0.290014 6.07761 1.34382e-05 5.54761 1.33892e-05 4.98761C1.33402e-05 4.42761 0.290014 3.89761 0.790014 3.53761L5.46001 0.14761C5.59001 0.0576096 5.74001 0.00760945 5.89001 0.00760943L5.89001 0.0176097Z" />
                            </svg>

                        .slider-btn.slider-right-btn.slider-sect-right-btn-js
                            <svg viewBox="0 0 55 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M54.5901 5.74756L1.23006 5.74756L1.23006 4.27756L54.5901 4.27756L54.5901 5.74756Z" />
                                <path d="M5.89001 0.0176097C6.12001 0.0176096 6.34001 0.12761 6.48001 0.31761C6.72001 0.64761 6.65001 1.10761 6.32001 1.33761L1.65001 4.72761C1.53002 4.81761 1.46001 4.90761 1.46001 4.99761C1.46001 5.07761 1.53002 5.17761 1.65001 5.26761L6.33002 8.68761C6.66002 8.92761 6.73002 9.38761 6.49002 9.70761C6.25002 10.0376 5.79002 10.1076 5.47002 9.86761L0.790014 6.44761C0.290014 6.07761 1.34382e-05 5.54761 1.33892e-05 4.98761C1.33402e-05 4.42761 0.290014 3.89761 0.790014 3.53761L5.46001 0.14761C5.59001 0.0576096 5.74001 0.00760945 5.89001 0.00760943L5.89001 0.0176097Z" />
                            </svg>
                    .swiper-wrapper
                        a(href="#").swiper-slide.card1
                            .img
                                img(src="./images/slide/slide1.png")
                            .content
                                p.h3 Утро невесты
                                .link._white Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").swiper-slide.card1
                            .img
                                img(src="./images/slide/slide2.png")
                            .content
                                p.h3 Свадебный номер в&nbsp;подарок
                                .link._white Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").swiper-slide.card1
                            .img
                                img(src="./images/slide/slide3.png")
                            .content
                                p.h3 Романтическое свидание
                                .link._white Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").swiper-slide.card1
                            .img
                                img(src="./images/slide/slide4.png")
                            .content
                                p.h3 Баня для двоих+
                                .link._white Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>