section.section 
    div(style="overflow: hidden;").outer 
        .inner 
            .section__content
                div(style="width: 100%;").sections
                    .section__list.grid3._adaptiv
                        a(href="#").card
                            .img.shine
                                img(src="./images/news/img1.png")
                            .content
                                date 13 февраля
                                p.text Открытая кухня в ресторане NOVUM TAGANOK
                                .link Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").card
                            .img.shine
                                img(src="./images/news/img2.png")
                            .content
                                date 11 февраля
                                p.text День защиты детей: выставка юных талантов в Sugar Free
                                .link Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").card
                            .img.shine
                                img(src="./images/news/img3.png")
                            .content
                                date 9 февраля
                                p.text Гала ужин и творческий вечер с Аскаром Абдразаковым
                                .link Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").card
                            .img.shine
                                img(src="./images/news/img4.png")
                            .content
                                date 13 февраля
                                p.text Открытая кухня в ресторане NOVUM TAGANOK
                                .link Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").card
                            .img.shine
                                img(src="./images/news/img5.png")
                            .content
                                date 11 февраля
                                p.text День защиты детей: выставка юных талантов в Sugar Free
                                .link Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>
                        a(href="#").card
                            .img.shine
                                img(src="./images/news/img6.png")
                            .content
                                date 9 февраля
                                p.text Гала ужин и творческий вечер с Аскаром Абдразаковым
                                .link Подробнее 
                                    <svg width="50" height="6" viewBox="0 0 50 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.99992H49.9999V5.99999H0V4.99992Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4586 0.006096L49.9999 5.19167L49.5439 5.98669L41.0026 0.800832L41.4586 0.006096Z" />
                                    </svg>