extends base/pug/base

append variables
    - var title = 'Аксаков'
    - var subtitle = 'Конференц-зал'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/aksakov-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Вместимость до 60 гостей'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Три зала Аксаков подходят для проведения небольших мероприятий, тренингов и конференций.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности экзекьютива"
    - var slides = ['/images/aksakov/3.png','/images/aksakov/3.png']
    - var thumbs = ['/images/aksakov/3.png']
    
block hallblock
    include ./components/hallblock/number
block timeandprice 
    include ./components/timeandprice/timeandprice4
block form
    include ./components/form1/form



