extends base/pug/base

append variables
    - var title = 'VIP-зал бильярда'
    - var subtitle = 'Доступ 24 часа'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/bil-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Спортивный азарт или неформальная встреча - выбирать вам'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'VIP-зал русского бильярда до 8 персон с 12-футовым бильярдным столом, дает возможность не только получить удовольствие от игры, но и приятно провести время в кругу друзей или деловых партнеров.<br><br>В клубе выставлена сувенирная продукция ведущих мировых брендов: наборы бильярдных шаров, киев, различные расходные материалы и многое другое.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности Люкса"
    - var slides = ['/images/pool/1.png','/images/pool/1.png']
    - var thumbs = ['/images/pool/1.png']
    - var ePic = "/images/pool/pool1.png"
block bilblock
    include ./components/bilblock/number
block form
    include ./components/form1/form
