extends base/pug/base

append variables
    - var title = 'Зал Бордрум'
    - var subtitle = 'Конференц-зал'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/bordrum-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Вместимость до 12 гостей'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Эксклюзивный зал на 12 человек подходит для небольших совещаний, закрытых деловых встреч, видеоконференций и скайп-переговоров.<br><br>Дизайнерский интерьер и современное техническое оснащение, позволяют проводить встречи на самом высоком уровне.'
    - var slides = ['/images/bordrum/1.png','/images/bordrum/1.png']
    - var thumbs = ['/images/bordrum/1.png']

block hallblock
    include ./components/hallblock/number
block form
    include ./components/form1/form



