extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Бронирование и номера'
    - var subtitle = 'В Республике Башкортостан'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/bron-bg.png'
    - var button = false

block bron
    include ./components/bron/bron
