extends base/pug/base

append variables
    - var title = 'Номер Клубный'
    - var subtitle = 'Добро пожаловать в клуб'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/club/club_1.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Executive Lounge в Lobby Plaza'
    - var numberSubtitle = 'Клубные номера (33 м2) расположены на 7 этаже отеля'
    - var numberText = 'Клубная гостиная предназначена для гостей проживающих на 7 этаже, которые ценят максимальный уровень комфорта в деловых или туристических поездках.<br><br>Для гостей Клубного этажа предлагается ряд дополнительных услуг: современная переговорная, мини-офис, завтраки, выпечка, закуски от шеф-повара Novum, фрукты, безалкогольные и алкогольные напитки в течение дня.<br><br>Executive lounge (клубная гостиная) 08.00 - 21.00 (7 этаж)<br><br>Доступ в гостиную предоставляется бесплатно для гостей, проживающих непосредственно на Клубном этаже (7 этаж).<br>Для гостей, проживающих в номерах на других этажах отеля, предоставляется возможность приобрести доступ в Клубную гостиную за дополнительную плату.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности Клубного"
    - var slides = ['./images/club/club_3.png','./images/club/club_1.png','./images/club/club_2.png','./images/club/club_4.png','./images/club/club_5.png','./images/club/club_6.png','./images/club/club_7.png']
    - var thumbs = ['./images/club/club_1.png','./images/club/club_2.png','./images/club/club_4.png','./images/club/club_5.png','./images/club/club_6.png','./images/club/club_7.png']
    - var ePic = "./images/club/club_1e.png"
    - var items = ['Кабельное телевидение','Сейф','Кровати размера king size','Бутилированная вода премиум-класса, приветственный комплимент','Система кондиционирования с индивидуальной панелью управления','Раздельные ванна и душ типа "тропический дождь"','Комфортабельная рабочая зона с высокоскоростным Интернетом и бесплатным Wi-Fi','Подставка для хранения сумок, щетка и ложка для обуви, гладильная доска, утюг','Туалетные принадлежности• Завтрак по системе "шведский стол"','Круглосуточный бесплатный доступ в фитнес-центр• Доступ в эксклюзивную клубную гостиную, в которой подаются разнообразные закуски и напитки в течение дня'] 
block lux
    include ./components/number/number


