extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Контакты'
    - var subtitle = 'В Республике Башкортостан'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/contacts-bg.png'
    - var button = false

block hallblock
    include ./components/restoranblock/number8

block form
    include ./components/formblack/form2

