extends base/pug/base

append variables
    - var title = 'Номер Экзекьютив'
    - var subtitle = 'На высоте'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/executiv/exe_1.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Наслаждайся видом'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Номера (33 м2) с панорамным остеклением на 8 и 9 этажах, позволят насладиться прекрасным видом на город и отдохнуть от суеты.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности экзекьютива"
    - var slides = ['./images/executiv/exe_1.png','./images/executiv/exe_2.png','./images/executiv/exe_3.png','./images/executiv/exe_4.png','./images/executiv/exe_5.png']
    - var thumbs = ['./images/executiv/exe_2.png','./images/executiv/exe_3.png','./images/executiv/exe_4.png','./images/executiv/exe_5.png']
    - var ePic = "./images/executiv/exe_1e.png"
    - var items = [ 'Кабельное телевидение', 'Сейф', 'Бутилированная вода', 'Система кондиционирования с индивидуальной панелью управления','Раздельные ванна и душ типа "тропический дождь"','Комфортабельная рабочая зона с высокоскоростным Интернетом и бесплатным Wi-Fi','Подставка для хранения сумок, щетка и ложка для обуви, гладильная доска, утюг ','Туалетные принадлежности','Завтрак по системе "шведский стол"', 'Круглосуточный бесплатный доступ в фитнес-центр'] 
block lux
    include ./components/number/number



