extends base/pug/base

append variables
    - var title = 'Номер Люкс'
    - var subtitle = 'Самый популярный'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/lux/lux_4.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Классика гостеприимства'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Уютный двухкомнатный Люкс (63 м2) с удобным зонированием пространства на гостиную/столовую и спальню, сделает ваше пребывание максимальнокомфортным. Дополнительный бонус: в стоимость проживания входит 1 час аренды VIP-зала русского бильярда.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности Люкса"
    - var slides = ['/images/lux/lux_5.png','/images/lux/lux_1.png','/images/lux/lux_2.png','/images/lux/lux_3.png','/images/lux/lux_4.png','/images/lux/lux_6.png']
    - var thumbs = ['/images/lux/lux_1.png','/images/lux/lux_2.png','/images/lux/lux_3.png','/images/lux/lux_4.png','/images/lux/lux_6.png']
    - var ePic = "/images/lux/lux_4e.png"
    - var items = [ 'Двухкомнатный номер', 'Кабельное телевидение', 'Сейф', 'Кровати размера king size', 'Обеденная зона (стол и 4 стула)', 'Диван-софа', 'Аудио-система', 'Кофемашина капсульная Nespresso + капсулы с кофе', 'Бутилированная вода премиум-класса, приветственный традиционный десерт,чайно-кофейная станция, холодильник, мини-бар', 'Система кондиционирования с индивидуальной панелью управления', 'Раздельные ванна и душ типа "тропический дождь", гостевой санузел', 'Комфортабельная рабочая зона с высокоскоростным Интернетом и бесплатным Wi-Fi', 'Подставка для хранения сумок, щетка и ложка для обуви, гладильная доска, утюг', 'Полная комплектация туалетных принадлежностей премиум-класса', 'Завтрак по системе "шведский стол"', 'Круглосуточный бесплатный доступ в фитнес-центр' ] 
block lux
    include ./components/number/number

