extends base/pug/base

append variables
    - var title = 'Националь'
    - var subtitle = 'Конференц-зал'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/nacional-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Вместимость до 400 гостей'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Широкий спектр возможностей проведения мероприятий любого формата и для любого количества гостей, залу обеспечивают выдвигающиеся стены, которые делят пространство на 3 равных функциональных площадки.<br>И при необходимости большой зал можно трансформировать в зал меньшего размера и вместимости.<br><br>Националь оснащен отдельным въездом для автомобилей, что делает этот зал отличной площадкой для автопрезентаций и дает возможность эффектно появиться на любом торжестве.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности экзекьютива"
    - var slides = ['./images/nacional/4.png','./images/nacional/4.png']
    - var thumbs = ['./images/nacional/4.png']
    - var ePic = "./images/executiv/exe_1e.png"
    - var items = [ 'Кабельное телевидение', 'Сейф', 'Бутилированная вода', 'Система кондиционирования с индивидуальной панелью управления','Раздельные ванна и душ типа "тропический дождь"','Комфортабельная рабочая зона с высокоскоростным Интернетом и бесплатным Wi-Fi','Подставка для хранения сумок, щетка и ложка для обуви, гладильная доска, утюг ','Туалетные принадлежности','Завтрак по системе "шведский стол"', 'Круглосуточный бесплатный доступ в фитнес-центр'] 
block hallblock
    include ./components/hallblock/number
block timeandprice 
    include ./components/timeandprice/timeandprice
    
block form
    include ./components/form1/form



