extends base/pug/base

append variables
    - var title = 'Novum Taganok'
    - var subtitle = 'В Sheratonplaza Ufa Congress Hotel'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/novum-taganok-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Ресторан с открытой кухней'
    - var numberSubtitle = 'и богатым разнообразием блюд и напитков'
    - var numberText = 'Интернациональное меню в стиле фьюжн с разнообразными блюдами кухонь мира и богатая коллекция вин порадует даже самого изысканного гурмана.<br><br>Уютная вип-комната на четверых идеально подойдет как для торжества, так и для деловых переговоров.<br><br>Количество посадочных мест - 76. Площадь ресторана - 250 кв.м<br><br>NOVUM TAGANOK идеально подходит для проведения различных торжеств и бизнес-завтраков.'

    - var slides = ['./images/novum/nov_0.png','./images/novum/nov_0.png']
    - var thumbs = ['./images/novum/nov_0.png']
    - var ePic = "./images/novum/nov_1.png"

block hallblock
    include ./components/restoranblock/number
block form
    include ./components/formblack/form



