extends base/pug/base

append variables
    - var title = 'Нуриев'
    - var subtitle = 'Конференц-зал'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/nuriev-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Вместимость до 170 гостей'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Конференц-зал Нуриев – отличный вариант для проведения различных тренингов и конференций, частных мероприятий.<br><br>Большие панорамные окна обеспечивают зал естественным освещением и открывают прекрасный вид на исторический центр города.<br><br>Этот светлый зал - трансформер можно использовать целиком или выбрать одну из двух частей, на которые он легко делится благодаря выдвигающейся стене.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности экзекьютива"
    - var slides = ['/images/nuriev/1.png','/images/nuriev/1.png']
    - var thumbs = ['/images/nuriev/1.png']
    
block hallblock
    include ./components/hallblock/number
block form
    include ./components/form1/form



