extends base/pug/base

append variables
    - var title = 'Клубная переговорная'
    - var subtitle = 'Конференц-зал'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/peregovornaya-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Вместимость до 8 гостей'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Переговорная находится на Клубном этаже отеля. Этот уютный зал подходит для небольших совещаний, переговоров и встреч. Переговорная комната оснащена современной техникой, включая компьютер, плазменную панель диагональю. С техническими возможностями для видео-онлайн конференций. Бесплатный Wi-Fi.'
    - var slides = ['/images/peregovornaya/1.png','/images/peregovornaya/1.png']
    - var thumbs = ['/images/peregovornaya/1.png']

block hallblock
    include ./components/hallblock/number
block timeandprice 
    include ./components/timeandprice/timeandprice2
block form
    include ./components/form1/form



