extends base/pug/base

append variables
    - var title = 'Номер Президентский Люкс'
    - var subtitle = 'Эталонный'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/president/president_2.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Эталон гостеприимства'
    - var numberSubtitle = 'Sheratonplaza Ufa Congress Hotel'
    - var numberText = 'Просторный (127 кв.м.) и элегантный номер с гардеробной, столовой, кухней, гостиной и библиотекой не оставит Вас равнодушными. Эргономичная организация пространства делает Дипломатический Люкс светлым и уютным номером, в котором комфортно работать и отдыхать.<br><br>Дополнительный бонус: в стоимость проживания входит 2 часа аренды VIP-зала русского бильярда.'
    - var numberTitle1 = "Оснащение номера"
    - var numberSubtitle1 = "комфорт и дополнительные возможности Президентского Люкса"
    - var slides = ['./images/president/president_7.png','./images/president/president_1.png','./images/president/president_9.png','./images/president/president_8.png','./images/president/president_6.png','./images/president/president_5.png','./images/president/president_4.png','./images/president/president_3.png','./images/president/president_2.png']
    - var thumbs = ['./images/president/president_1.png','./images/president/president_9.png','./images/president/president_8.png','./images/president/president_6.png','./images/president/president_5.png', './images/president/president_4.png','./images/president/president_3.png','./images/president/president_2.png']
    - var ePic = "./images/president/president_2e.png"
    - var items = ['Две просторные комнаты','Полностью оборудованная кухня','Просторная гостиная, библиотека','Кабельное телевидение','Сейф','Кровати размера king size','Раскладывающийся двухместный диван','Капсульная кофемашина Nespresso + капсулы с кофе','Бутилированная вода','Система кондиционирования с индивидуальной панелью управления','Раздельные ванна и душ типа "тропический дождь", гостевой санузел','Комфортабельная рабочая зона с высокоскоростным Интернетом и бесплатным Wi-Fi','Подставка для хранения сумок, щетка и ложка для обуви, гладильная доска, утюг','Полная комплектация туалетных принадлежностей','Завтрак по системе "шведский стол"','Доступ в эксклюзивную Клубную гостиную','Круглосуточный бесплатный доступ в фитнес-центр'] 
block lux
    include ./components/number/number


