extends base/pug/base

append variables
    - var title = 'Rossinsky'
    - var subtitle = 'В Sheratonplaza Ufa Congress Hotel'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/rossinsky-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Дворянская усадьба XIX века'
    - var numberSubtitle = 'в современной интерпретации «шале»'
    - var numberText = 'Это ресторан расположенный в самом центре Уфы в усадьбе знатных дворян Россинских. Ввиду богатой истории дома, основной концепцией ресторана стало воссоздание образа дворянской загородной усадьбы середины 19 векав современной интерпретации стиля шале.<br><br>Статусное заведение, которое сочетает в себе утонченный дизайн, уютную обстановку и современные веяния в ресторанном бизнесе.'

    - var slides = ['./images/rossinsku/ros_2.png','./images/rossinsku/ros_2.png']
    - var thumbs = ['./images/rossinsku/ros_2.png']
    - var ePic = "./images/rossinsku/ros_7.png"

block hallblock
    include ./components/restoranblock/number1



