extends base/pug/base

append variables
    - var title = 'Sky Lounge'
    - var subtitle = 'В Sheratonplaza Ufa Congress Hotel'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/skylounge-bg.png'
    - var button = true
    - var textButton = "Забронировать"
    - var numberTitle = 'Панорамный в иди авторская кухня'
    - var numberSubtitle = 'в современной интерпретации «шале»'
    - var numberText = 'Это одно из лучших мест чтобы расслабиться и наслаждаться в любое время года великолепным видомна Уфу, закатами и огнями. Посадка на 60 мест с уютными диванами в окружении зелени и Dj-сетами по пятницам и субботам.<br><br>Светлое и дышащее пространство — благодаря витринному остеклению — подходит как для романтического вечера на двоих, так и для шумной праздничной компании.<br><br>Более полная информация на сайте <a href="http://skylounge-ufa.ru/">http://skylounge-ufa.ru/</a>'

    - var slides = ['/images/skylounge/sk_1.png','/images/skylounge/sk_1.png']
    - var thumbs = ['/images/skylounge/sk_1.png']
    - var ePic = "/images/skylounge/sk_3.png"

block hallblock
    include ./components/restoranblock/number2


