extends base/pug/base

append variables
    - var title = 'Shine SPA'
    - var subtitle = 'СПА-Салон'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/spa-bg.png'
    - var button = false
    - var textButton = "Забронировать"
    - var numberTitle = 'Сияй!'
    - var numberSubtitle = 'В Sheratonplaza Ufa Congress Hall'
    - var numberText = 'Разнообразные массажные техники, хаммам, большой выбор ритуалов красоты, косметических и спа-процедур<br><br>По всем подробностям и другим вопросам звоните: <a href="tel:89273100310">8 927 310-03-10</a>'

    - var slides = ['/images/spa/spa_7.png','/images/spa/spa_7.png']
    - var thumbs = ['/images/spa/spa_7.png']

block hallblock
    include ./components/restoranblock/number5