extends base/pug/base

append variables
    - var title = 'СУВЕНИРЫ С НАЦИОНАЛЬНЫМ КОЛОРИТОМ'
    - var subtitle = 'В Sheratonplaza Ufa Congress Hotel'
    - var pageClass = 'homepage'
    - var menuHref = '/'
    - var bg = '../images/bg/suvenir-bg.png'
    - var button = false
    - var textButton = "Забронировать"
    - var numberTitle = 'Сувенирный магазин'
    - var numberSubtitle = 'Отличная возможность приобрести яркие и необычные сувениры в память об отеле и вашем пребывании в Уфе.'
    - var numberText = 'Магазин расположен в холле гостиницы, поэтому больше не придется бегать по сувенирным лавкам города, чтобы найти подарки себе и близким. Для вашего удобства, вы можете ознакомиться с ассортиментом на нашем сайте, а также приобрести продукцию на сайте.<br><br>АВТОРСКИЕ ПРЕДМЕТЫ ДЕКОРА РУЧНОЙ РАБОТЫ Уникальные предметы декора от Геннадия Гришина, созданные к замечательным праздникам встречи Нового года, Рождества и Светлого праздника Пасхи. Смотрите в разделе "Новый год"!'


block suvenir
    include ./components/suvenir/suvenir
